# Ignore all .pyc files
*.pyc

# Ignore the data directory in the root directory
/data/

# Allow tracking of data directories in subdirectories
!*/data/

# Ignore everything in the results folder
results/

